spring:
  datasource:
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost:5432/news
  liquibase:
    enabled: true
  jpa:
    show-sql: true
  profiles:
    active: dev
  cache:
    type: redis
  data:
    redis:
      port: 6379
      host: cache
cache:
  capacity: 10
  type: LRU